<div class='col-md-8 col-md-offset-2'>
  <div>
    <% @teams.each do |team| %>
    <p><h2><%= link_to team.name, team_path(team) %></h2></p>
    <p><strong>Publisher</strong>: <%= team.publisher %></p>
    <% end %>
  </div>

  <div>
    <p></br><%= link_to 'CREATE A NEW TEAM', new_team_path %></p>
  </div>
</div>